<!doctype html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>    
<body>
    <header>
        <a href="/logout">Logout</a>
    </header>
    <main>
            <%- include( file ) %>
    </main>
    <footer></footer>
    
</body>
</html>